<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm">
              <h2>What's in here</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <p>This one is a basic implementation of a search box. There are some considerations to take into account when it comes to implementing a site search on an Angular solution. </p>
              <p>Angular solutions are based on the concept of Single Page Applications, or SPA for short. As its name indicate this kind of applications has only a single page and the code behind (the application part of it) in charge of changing the page to become whatever the user is trying to access, usually by changing the URL, pressing a button or clicking a link. Once the user requests a “new page” the application dynamically rewrites the current page, and everything looks like if the user has navigated away into a new page, when no page reloading has ever happened in reality. This approach minimizes the interruptions related to reloading entire pages, with the responsiveness of a traditional desktop application, maintaining the look and feel of modern web applications, for a better user experience. </p>
              <p>On the other hand, SPAs are not used on their base form in contexts where search engines indexing is either a requirement or desirable, since a search engine will only see a single and mostly empty page when crawling the application URL. </p>
              <p>For an Angular solution to be parsed by a search engine one will have to ensure a template plus some precomposed content gets shipped by your server for all valid URLs in your solution. How you do this will vary depending on your server architecture. </p>
              <p>To complicate matters a little bit more, some hosting services may not be supportive of server-side coding, wish is the case for GitHub.io, the service used to host the instance of the application you are currently looking at. </p>
              <p>Conversely this scenario is ideal to illustrate how to make a site-search work for a SPA. GitHub.io is a place where an instance of your code, contained in a GitHub.com repository, is showed life. </p>
              <p>Parsing the repository will allow us to find the components containing the requested term. A link will be then build using the name of the repository and pointing to the live site at GitHub.io. </p>
              <p>Covering for the prove of concept, this site has been provisioned with a group of articles, each of them of different category as to contain different collections of keywords to be typed on the search box. This way entering the word soil may bring at least one page for the gardening article plus this page where the word also appears. Entering the word "take" will bring a collection of pages containing this more common word.</p>
              <p> </p>
             </div>
        </div>

        <div class="row">
            <div class="col-sm">
              <h2>Disclaimer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <p>In a production environment the proper routing information will have to be combined when building the links, as well as a more descripting search results page which is beyond the scope of this example.</p>
              <p></p>

              <p> </p>
             </div>
        </div>
</div>