<img src="https://www.popsci.com/sites/popsci.com/files/styles/2000_1x_/public/images/2018/04/01-spaceship-long-haul-hero.jpg?itok=UsShlLtp" alt="">

<h1>We could move to another planet with a spaceship big enough</h1>
<p>Our best guess for what it would take to get to planets that are really, really far away.</p>
<h1>Career planning</h1>
<p>Successive generations need to fill all the vital crew roles—such as medics and mechanics—which doesn’t leave much room for freedom of choice. A version of modern career tests would assign occupations based on aptitude, passions, and available jobs.</p>
<h1>Propulsion</h1>
<p>We’re gonna need a mighty push. So far, no one’s had any better ideas than Freeman Dyson: Slap A-bombs on the back of a ship and physically shove ourselves forward with constant ­nuclear explosions. It’s not safe or healthy, but it’s all we’ve got.</p>
<h1>Waste management</h1>
<p>A healthy human needs almost 300 gallons of water a year, and there won’t be any pit stops. We’ll need to reclaim every drop we use. The ISS already packs a system to recycle astronaut pee, which we’ll scale up to avoid surges of raw sewage from the tap.</p>
<h1>People</h1>
<p>One study estimated a starting crew of 160 could maintain a viable population for 200 years, provided they were a diverse bunch. Large gene pools provide crucial variety—we wouldn’t want any two passengers closer than sixth or seventh cousins.</p>
<h1>Infirmary</h1>
<p>A spaceship might have almost no bacteria, or at least a different set than the terrestrial microbes we’re used to. Our immune systems could weaken, or forget how to fight earthly pathogens. Visiting the homeworld might not be an option.</p>
<h1>Dating</h1>
<p>To avoid the pitfalls of inbreeding, a geneticist will regulate reproduction. Perhaps romance and parenthood would decouple; folks could pick their spouses but use in vitro fertilization for makin’ babies with optimal partners.</p>
<h1>Shielding</h1>
<p>Earth’s magnetic field protects us from DNA-frying waves. Deep space is more radioactive than low-earth orbit, so we’ll need stronger shields than our current ships have. A force field would be nice, but asteroid clay could also make a nice protective coating.</p>
<h1>Arrival plan</h1>
<p>We might not know much about Proxima b when we lift off. Our crew needs to be prepared, so we’d want a bit of everything: mining equipment to glean gases for terraforming, weapons to protect us from hostile life-forms, plus tools to build new homes.</p>
<h1></h1>
<p></p>
